/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: Inter, sans-serif;
    --accent-font-family: "Press Start 2P", fantasy;
    --heart-color: #ff0000;
        --title-font-weight: "wght" 700;
        --text-font-weight: "wght" 400;
        --page-background: #fff;
        --text-color: #000;
        --background-color: #d3d3d3;
        --background-color-start: #e7e7e7;
        --background-color-end: #1a1a1a;
        --accent-color: var(--text-color);
        --label-stroke: var(--page-background);
        --mix-blend-color: var(--page-background);
    }

